.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

._rotateIn {
  animation-name: _rotateIn;
}

._rotateOut {
  animation-name: _rotateOut;
}

@keyframes _rotateIn {
  from {
  }

  to {
  }
}

@keyframes _rotateOut {
  from {
  }

  to {
  }
}